{% load static %}
{% load custom_tags %}

<html>
    <head>
        <title>Automation for everyone</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
        <script src="https://kit.fontawesome.com/acf222f1ae.js"></script>
    </head>
    <body>
        <div class="page-header">
            <h2>Automation for everyone</h2>
        </div>
        <div class="img-bg">
            <div class="grid">
                <div class="item item--contained blockquote-poll">
                <ul>
                {{ question.question_text }}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <form action="{% url 'polls:vote' question.id %}" method="post">
                <div class="form-group">
                {% csrf_token %}
                {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="Vote">
                </div>
                </form>
                </ul>
                </div>
                <div class="item item--contained blockquote">
                    <span class='fas fa-running my-icon'></span>
                    <span class="hostname">on: {% get_hostname %}</span>
                </div>
            </div>
        </div>
    </body>
</html>
