{% load static %}
{% load custom_tags %}

<html>
    <head>
        <title>RH Demo App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
        <script src="https://kit.fontawesome.com/acf222f1ae.js"></script>
    </head>
    <body>
        <div class="page-header">
            <h1>RH Demo Application</h1>
        </div>
        <div class="img-bg">
            <div class="grid">
                <div class="item item--contained">
                {% if latest_question_list %}
                    <ul>
                    {% for question in latest_question_list %}
                        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No polls are available.</p>
                {% endif %}
                </div>
                <div class="item item--contained blockquote">
                    <span class='fas fa-running my-icon'></span>
                    <span class="hostname">on: {% get_hostname %}</span>
                </div>
            </div>
        </div>
    </body>
</html>
